@model LibMyWorkout.Domain.User

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<h3>@Model.UserName</h3>
<h3>@Model.FirstName</h3>
<h3>@Model.LastName</h3>
<h3>@Model.CurrentDay</h3>
<h3>@Model.CurrentWeek</h3>

